.wrapper-item-sidebar {
  border-radius: 12px;
  cursor: pointer;
  font-weight: 500;
  /* background-color: #466FFF; */
}

.text-item-sidebar {
  color: #475985;
}

.start-icon-item-sidebar, .item-sidebar-children-drop {
  color: #A4AEC1;
}

.item-sidebar-children-drop {
  margin-left: auto;
}

.wrapper-item-sidebar:hover {
  background-color: var(--bg-common);
}

.wrapper-item-sidebar:hover .text-item-sidebar{
  color: #ffffff;
}

.wrapper-item-sidebar:hover .start-icon-item-sidebar{
  color: #ffffff;
}

.wrapper-item-sidebar:hover .item-sidebar-children-drop{
  color: #ffffff;
}

.wrapper-item-sidebar-active {
  background-color: var(--bg-common) !important;
}

.wrapper-item-sidebar-active .item-sidebar-children-drop { 
  color: #ffffff;
}

.wrapper-item-sidebar-active .start-icon-item-sidebar { 
  color: #ffffff !important;
}
.wrapper-item-sidebar-active .text-item-sidebar {
  color: #ffffff;
}

